<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @payment_token.user %>
</p>

<p>
  <strong>Code:</strong>
  <%= @payment_token.code %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment_token.status %>
</p>

<p>
  <strong>Note:</strong>
  <%= @payment_token.note %>
</p>

<p>
  <strong>Actived by:</strong>
  <%= @payment_token.actived_by %>
</p>

<p>
  <strong>Actived site:</strong>
  <%= @payment_token.actived_site_id %>
</p>

<%= link_to 'Edit', edit_payment_token_path(@payment_token) %> |
<%= link_to 'Back', payment_tokens_path %>
