<%= simple_form_for(@page_template) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :preview_image %>
    <%= f.input :html %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
