<h1>Listing keystores</h1>

<table>
  <thead>
    <tr>
      <th>Obj type</th>
      <th>Obj</th>
      <th>Key</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @keystores.each do |keystore| %>
      <tr>
        <td><%= keystore.obj_type %></td>
        <td><%= keystore.obj_id %></td>
        <td><%= keystore.key %></td>
        <td><%= keystore.value %></td>
        <td><%= link_to 'Show', keystore %></td>
        <td><%= link_to 'Edit', edit_keystore_path(keystore) %></td>
        <td><%= link_to 'Destroy', keystore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Keystore', new_keystore_path %>
