<p id="notice"><%= notice %></p>

<p>
  <strong>Obj type:</strong>
  <%= @keystore.obj_type %>
</p>

<p>
  <strong>Obj:</strong>
  <%= @keystore.obj_id %>
</p>

<p>
  <strong>Key:</strong>
  <%= @keystore.key %>
</p>

<p>
  <strong>Value:</strong>
  <%= @keystore.value %>
</p>

<%= link_to 'Edit', edit_keystore_path(@keystore) %> |
<%= link_to 'Back', keystores_path %>
