<%= simple_form_for(@site_comment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :site %>
    <%= f.input :name %>
    <%= f.input :mobile_phone %>
    <%= f.input :tel_phone %>
    <%= f.input :email %>
    <%= f.input :qq %>
    <%= f.input :weixin %>
    <%= f.input :state %>
    <%= f.input :city %>
    <%= f.input :district %>
    <%= f.input :address %>
    <%= f.input :gender %>
    <%= f.input :birth %>
    <%= f.input :hobby %>
    <%= f.input :content %>
    <%= f.input :content2 %>
    <%= f.input :content3 %>
    <%= f.input :status %>
    <%= f.input :updated_by %>
    <%= f.input :note %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
