<ol class="breadcrumb">
  <li><%= link_to '修改', edit_template_path(@template) %></li>
  <li><%= link_to '返回', templates_path %></li>
  <li class="active">template</li>
</ol>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @template.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @template.price %>
</p>

<p>
  <strong>Init section keys:</strong>
  <%= @template.init_section_keys %>
</p>

<p>
  <strong>Html:</strong>
  <pre><%= @template.html %></pre>
</p>

<p>
  <strong>Form:</strong>
  <pre><%= @template.form %></pre>
</p>

