<%= simple_form_for([@template, @section]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :template_id, as: :hidden, input_html: {value: @template.id, }%>
    <%= f.input :key, placeholder: 'header|footer' %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :preview_image%>
    <a data-target="#pictureModal" data-toggle="modal" href="/admin_resources/dialog_list">(选择系统图片)</a>
    <%= f.input :typo, collection: Section::TYPOS %>
    <%= f.input :is_repeat %>
    <%= f.input :html %>
    <%= f.input :form %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<!-- meituModal start-->
<div id="pictureModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h1 id="hdr-title" class="text-center">图片对话框</h1>
        </div>
      </div>
      <div class="modal-body meitu-body">
        
      </div><!-- End modal-body -->
    </div><!-- End modal-content -->
  </div><!-- End modal-dialog -->
</div>
<!-- meituModal end-->
