<%= simple_form_for([@template, @section]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :template_id, as: :hidden, input_html: {value: @template.id, }%>
    <%= f.input :key, placeholder: 'header|footer' %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :preview_image %>
    <%= f.input :typo, collection: Section::TYPOS %>
    <%= f.input :is_repeat %>
    <%= f.input :html %>
    <%= f.input :form %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
