<h1>Listing sections</h1>
<h2><%= @template.title %></h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Key</th>
      <th>Title</th>
      <th>Description</th>
      <th>Preview image</th>
      <th>Typo</th>
      <th>Is repeat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.key %></td>
        <td><%= section.title %></td>
        <td><%= section.description %></td>
        <td><%= section.preview_image %></td>
        <td><%= section.typo %></td>
        <td><%= section.is_repeat %></td>
        <td><%= link_to '详细', template_section_path(@template, section) %></td>
        <td><%= link_to '修改', edit_template_section_path(@template, section) %></td>
        <td><%= link_to '删除', [@template, section], method: :delete, data: { confirm: '确定删除?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to '添加新组件', new_template_section_path(@template), class: 'btn btn-lg btn-primary' %>
