<h1>Listing sections</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Key</th>
      <th>Title</th>
      <th>Description</th>
      <th>Preview image</th>
      <th>Typo</th>
      <th>Is repeat</th>
      <th>Html</th>
      <th>Form</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.key %></td>
        <td><%= section.title %></td>
        <td><%= section.description %></td>
        <td><%= section.preview_image %></td>
        <td><%= section.typo %></td>
        <td><%= section.is_repeat %></td>
        <td><%= section.html %></td>
        <td><%= section.form %></td>
        <td><%= link_to 'Show', section %></td>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
        <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Section', new_template_section_path(@template) %>
