
<ol class="breadcrumb">
  <li><%= link_to '修改', edit_template_section_path(@template, @section) %> </li>
  <li><%= link_to '返回', template_sections_path(@template) %></li>
</ol>


<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @section.key %>
</p>

<p>
  <strong>Title:</strong>
  <%= @section.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @section.description %>
</p>

<p>
  <strong>Preview image:</strong>
  <%= @section.preview_image %>
</p>

<p>
  <strong>Typo:</strong>
  <%= @section.typo %>
</p>

<p>
  <strong>Is repeat:</strong>
  <%= @section.is_repeat %>
</p>

<p>
  <strong>Html:</strong>
  <pre><%= @section.html %></pre>
</p>

<p>
  <strong>Form:</strong>
  <pre><%= @section.form %></pre>
</p>


