<%= simple_form_for(@picture) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.association :gallery %>
    <%= f.input :name %>
    <%= f.input :key %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
