<%= simple_form_for(@site_image) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :site %>
    <%= f.association :site_section %>
    <%= f.input :key %>
    <%= f.input :name %>
    <%= f.input :image %>
    <%= f.input :image_file_name %>
    <%= f.input :image_file_size %>
    <%= f.input :image_content_type %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
