<p id="notice"><%= notice %></p>

<p>
  <strong>Site:</strong>
  <%= @site_image.site %>
</p>

<p>
  <strong>Site section:</strong>
  <%= @site_image.site_section %>
</p>

<p>
  <strong>Key:</strong>
  <%= @site_image.key %>
</p>

<p>
  <strong>Name:</strong>
  <%= @site_image.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @site_image.image %>
</p>

<p>
  <strong>Image file name:</strong>
  <%= @site_image.image_file_name %>
</p>

<p>
  <strong>Image file size:</strong>
  <%= @site_image.image_file_size %>
</p>

<p>
  <strong>Image content type:</strong>
  <%= @site_image.image_content_type %>
</p>

<%= link_to 'Edit', edit_site_image_path(@site_image) %> |
<%= link_to 'Back', site_images_path %>
