<h1>Listing site_pages</h1>

<table>
  <thead>
    <tr>
      <th>Site</th>
      <th>Key</th>
      <th>Title</th>
      <th>Keywords</th>
      <th>Description</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @site_pages.each do |site_page| %>
      <tr>
        <td><%= site_page.site %></td>
        <td><%= site_page.key %></td>
        <td><%= site_page.title %></td>
        <td><%= site_page.keywords %></td>
        <td><%= site_page.description %></td>
        <td><%= site_page.content %></td>
        <td><%= link_to 'Show', site_page %></td>
        <td><%= link_to 'Edit', edit_site_page_path(site_page) %></td>
        <td><%= link_to 'Destroy', site_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site page', new_site_page_path %>
