<ol class="breadcrumb">
  <li><%= link_to '编辑', edit_site_path(@site) %></li>
  <li><%= link_to '返回', sites_path %></li>
</ol>

<p id="notice"><%= notice %></p>

<p>
  <strong>Template:</strong>
  <%= @site.template.id %>
</p>

<p>
  <strong>Key:</strong>
  <%= @site.key %>
</p>

<p>
  <strong>Status:</strong>
  <%= @site.status %>
</p>

<p>
  <strong>Title:</strong>
  <%= @site.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @site.description %>
</p>

<p>
  <strong>Preview image:</strong>
  <%= @site.preview_image_key %>
</p>

<p>
  <strong>Is private:</strong>
  <%= @site.is_private %>
</p>

<p>
  <strong>Private password:</strong>
  <%= @site.private_password %>
</p>

<p>
  <strong>Html:</strong>
  <pre><%= @site.html %></pre>
</p>

